<!DOCTYPE html>
<html>
  <head>
    <title>Blog sql</title>
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <h1>BLOG</h1>
    <section class="main">
      {% for row in posts %}
      <article>
        <h2>{{ row.title }}</h2>
        <h3>{{ row.data }}</h3>
        <p>{{ row.post }}</p>
      </article>
      {% endfor %}
    </section>
  </body>
</html>
